@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,500,500i,700);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,700);

:root {
	color-scheme: light dark;
	--body-color: white;
	--big-text-color: #FFCF00;
	--hover-color: #FFE678;
	--small-text-color: #13262F;
	--shadow-color: #007EA7;
	--shadow-link-color: #fb5324;
	--inverted-body-color: rgb(45, 51, 59);
	--inverted-small-text-color: white;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--body-color: rgb(45, 51, 59);
		--big-text-color: #FFCF00;
		--hover-color: #FFE678;
		--small-text-color: white;
		--shadow-color: #007EA7;
		--inverted-body-color: white;
		--inverted-small-text-color: #13262F;
	}
}

* {
	background-color: var(--body-color);
	font-family: "IBM Plex Mono", monospace;
	padding: 0px;
	margin: 0px;
}

.centeredContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.mainText p {
	color: var(--big-text-color);
	font-size: 55px;
	font-weight: 700;
	text-shadow: 2px 2px 0 var(--shadow-color);
}

.mainText a {
	text-decoration: none;
	font-weight: 400;
	color: var(--big-text-color);
	text-shadow: 2px 2px 0 var(--shadow-link-color);
}

.mainText a:hover {
	color: var(--hover-color);
}

p.smallText {
	color: var(--small-text-color);
	font-size: 32px;
	font-weight: 500;
}

.card {
	width: 450px;
	display: flex;
	flex-direction: row;
	gap: 20px;
	color: var(--inverted-small-text-color);
	padding: 5px;
	background-color: var(--inverted-body-color);
}

.qwitchCard {
	box-shadow: 10px 10px 0 rgb(119, 44, 232);
}

.MBCard {
	box-shadow: 10px 10px 0 #db0010;
}

.faceDiv {
	box-shadow: 10px 10px 0 var(--shadow-color);
	margin: 0;
	padding: 0;
	width: fit-content;
	height: 357px;
}

.card * {
	background-color: var(--inverted-body-color);
}

.card img {
	width: 100px;
	height: 100px;
}

.cardWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}