:root {
	color-scheme: light dark;
    --body-color: rgb(255,255,255);
    --spacing: 20px;
    --text-color: rgb(36, 41, 47);
    --border-color: rgb(216, 222, 228);
    --link-color: rgb(9, 105, 218);
    --header-color: rgb(246, 248, 250);
}

@media screen and (prefers-color-scheme: dark) {
	:root {
    	--body-color: rgb(34, 39, 46);
    	--border-color: rgb(55, 62, 71);
    	--text-color: rgb(173, 186, 199);
    	--link-color: orange;
    	--header-color: rgb(45, 51, 59);
  }
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	color: var(--text-color);
}

body {
	background-color: var(--body-color);
}

.wrapper_ltr {
	background-color: var(--header-color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5em 5em 0em 5em;
	overflow: hidden;
}

.wrapper_rtl {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 5em 5em 0em 5em;
	overflow: hidden;
	direction: rtl;
}

.wrapper_rtl > * {
	direction: ltr;
}

.caption {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 30px;
	gap: 20px;
	max-width: 400px;
	min-width: 350px;
}

.caption p {
	line-height: 1.6em;
}

#title {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

h1 {
	font-size: 50px;
}

h2 {
    font-size: 25px;
}

h3 {
	font-size: 20px;
}

.centered {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
}

a > svg {
	fill: var(--link-color);
	text-decoration: none;
}

#faq {
	background-color: var(--header-color);
	padding: 5em 5em 5em 5em;
}

#faq > .centered {
	padding-bottom: 1em;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 450px;
	line-height: 1.6em;
}

.column a {
	color: var(--link-color);
	text-decoration: none;
}

@media screen and (max-width: 800px){
	.wrapper_ltr {
		padding: 2em 0.5em 0em 0.5em;
	}

	.wrapper_rtl {
		padding: 2em 0.5em 0em 0.5em;
	}

	#faq {
		padding: 2em 0.5em 1em 0.5em;
	}
}